<ion-header>
 <ion-toolbar class="toolbar--teal">
   <ion-title>Admin Dashboard</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content class="admin-bg">

 <section class="admin-hero">
   <h1>AllerAid Admin</h1>
   <p>Manage users, doctors, allergy data, and system monitoring.</p>
 </section>

 <section class="stats-grid">
   <ion-card>
     <ion-card-content>
       <h2>{{ totalUsers }}</h2>
       <p>Total Users</p>
     </ion-card-content>
   </ion-card>

   <ion-card>
     <ion-card-content>
       <h2>{{ pendingDoctors }}</h2>
       <p>Pending Doctors</p>
     </ion-card-content>
   </ion-card>

   <ion-card>
     <ion-card-content>
       <h2>{{ totalEmergencies }}</h2>
       <p>Emergency Reports</p>
     </ion-card-content>
   </ion-card>
 </section>

<ion-list>

  <ion-item button routerLink="/admin/users">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Manage Users</ion-label>
  </ion-item>

  <ion-item button routerLink="/admin-dashboard/doctors">
    <ion-icon name="medkit-outline" slot="start"></ion-icon>
    <ion-label>Verify Doctors</ion-label>
  </ion-item>

  <ion-item button routerLink="/admin-dashboard/allergies">
    <ion-icon name="leaf-outline" slot="start"></ion-icon>
    <ion-label>Manage Allergy Options</ion-label>
  </ion-item>

  <ion-item button routerLink="/admin-dashboard/emergencies">
    <ion-icon name="warning-outline" slot="start"></ion-icon>
    <ion-label>Emergency Logs</ion-label>
  </ion-item>

  <ion-item button (click)="logout()">

    <ion-icon
      name="log-out-outline"
      slot="start"
      color="danger">
    </ion-icon>

    <ion-label color="danger">
      Logout
    </ion-label>

  </ion-item>

</ion-list>

</ion-content>
