<ng-container>
  <div class="doctor-modal-backdrop" (click)="close()">
    <div class="doctor-modal-content" (click)="$event.stopPropagation()">
      <!-- Clean modal without header -->
      <ion-content class="ion-padding" [style.background]="'#fff'">
        <form>
          <h2 class="modal-title">Edit Doctor</h2>

          <ion-item lines="none">
            <ion-label position="stacked">First Name</ion-label>
            <ion-input [(ngModel)]="editForm.firstName" name="firstName" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input [(ngModel)]="editForm.lastName" name="lastName" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Specialty</ion-label>
            <ion-input [(ngModel)]="editForm.specialty" name="specialty"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="editForm.email" name="email" disabled></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Phone</ion-label>
            <ion-input [(ngModel)]="editForm.phone" name="phone" type="tel"></ion-input>
          </ion-item>

          <div class="button-group">
            <ion-button expand="block" class="saveBtn" (click)="saveChanges()" [disabled]="isLoading">
              <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
              {{ isLoading ? 'Saving...' : 'Save Changes' }}
            </ion-button>

            <ion-button expand="block" class="cancelBtn" (click)="close()">
              Cancel
            </ion-button>
          </div>
        </form>
      </ion-content>
    </div>
  </div>
</ng-container>
