ion-tab-bar {
  --background: #157d6f !important;
  --ion-color-base: #157d6f !important;
  --color: #fff !important;
  --color-selected: #99d2ca !important;
}

.medication-button {
  --color: #fff;
  --border-radius: 0;
  --padding-start: 0;
  --padding-end: 0;
  --margin: 0;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: 0;
}
